# Úkol č. 2 - předzpracování dat a binární klasifikace (do 9. listopadu 23:59)

  * V rámci tohoto úkolu se musíte vypořádat s příznaky, které jsou různých typů.
  * Před tím, než na nich postavíte predikční model, je třeba je nějakým způsobem převést do číselné reprezentace.
    
> **Úkoly jsou zadány tak, aby Vám daly prostor pro invenci. Vymyslet _jak přesně_ budete úkol řešit, je důležitou součástí zadání a originalita či nápaditost bude také hodnocena!**

## Zdroj dat

Budeme se zabývat predikcí přežití pasažérů Titaniku.
K dispozici máte trénovací data v souboru **data.csv** a data na vyhodnocení v souboru **evaluation.csv**.

#### Seznam příznaků:
* survived - zda přežil, 0 = Ne, 1 = Ano, **vysvětlovaná proměnná**, kterou chcete predikovat
* pclass - Třída lodního lístku, 1 = první, 2 = druhá, 3 = třetí
* name - jméno
* sex - pohlaví
* age - věk v letech
* sibsp	- počet sourozenců / manželů, manželek na palubě
* parch - počet rodičů / dětí na palubě
* ticket - číslo lodního lístku
* fare - cena lodního lístku
* cabin	- číslo kajuty
* embarked	- místo nalodění, C = Cherbourg, Q = Queenstown, S = Southampton
* home.dest - Bydliště/Cíl

## Pokyny k vypracování

**Základní body zadání**, za jejichž (poctivé) vypracování získáte **8 bodů**:
  * V Jupyter notebooku načtěte data ze souboru **data.csv**. Vhodným způsobem si je rozdělte na podmnožiny vhodné k trénování modelu.
  * Projděte si jednotlivé příznaky a transformujte je do vhodné podoby pro použití ve vybraném klasifikačním modelu.
  * Podle potřeby si můžete vytvářet nové příznaky (na základě existujících), například tedy můžete vytvořit příznak měřící délku jména. Některé příznaky můžete také úplně zahodit.
  * Nějakým způsobem se vypořádejte s chybějícími hodnotami.
  * Následně si vyberte vhodný klasifikační model z přednášek. Najděte vhodné hyperparametry a určete jeho přesnost (accuracy) na trénovací množině. Také určete jeho přesnost na testovací množině.
  * Načtěte vyhodnocovací data ze souboru **evaluation.csv**. Napočítejte predikce pro tyto data (vysvětlovaná proměnná v nich již není). Vytvořte **results.csv** soubor, ve kterém tyto predikce uložíte do dvou sloupců: ID, predikce přežití. Tento soubor nahrajte do repozitáře.
  * Ukázka prvních řádků souboru *results.csv*:
  
```
ID,survived
1000,0
1001,1
...
```

**Další body zadání** za případné další body  (můžete si vybrat, maximum bodů za úkol je každopádně 12 bodů):
  * (až +4 body) Aplikujte všechny klasifikační modely z přednášek a určete (na základě přesnosti na validační množině), který je nejlepší. Přesnost tohoto nejlepšího modelu odhadněte pomocí křížové validace. K predikcím na vyhodnocovacích datech využijte tento model.
  * (až +4 body) Zkuste použít nějaké (alespoň dvě) netriviální metody doplňování chybějících hodnot u věku. Zaměřte na vliv těchto metod na přesnost predikce výsledného modelu. K predikcím na vyhodnocovacích datech využijte ten přístup, který Vám vyjde jako nejlepší.

## Poznámky k odevzdání

  * Řiďte se pokyny ze stránky https://courses.fit.cvut.cz/BI-VZD/homeworks/index.html.
  * Odevzdejte nejen Jupyter Notebook, ale i _csv_ soubor s predikcemi pro vyhodnocovací data (`results.csv`).
  * Opravující Vám může umožnit úkol dodělat či opravit a získat tak další body. První verze je ale důležitá a bude-li odbytá, budete za to penalizováni**

In [319]:
### odtud už je to Vaše

In [320]:
### odtud už je to Vaše
import pandas as pd
df = pd.read_csv('data.csv')

df.head(10)

,ID,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,home.dest
0,0,1,3,"Dorking, Mr. Edward Arthur",male,19.0,0,0,A/5. 10482,8.0500,NaN,S,"England Oglesby, IL"
1,1,1,2,"Smith, Miss. Marion Elsie",female,40.0,0,0,31418,13.0000,NaN,S,NaN
2,2,0,3,"Hegarty, Miss. Hanora ""Nora""",female,18.0,0,0,365226,6.7500,NaN,Q,NaN
3,3,0,3,"Sage, Mr. John George",male,NaN,1,9,CA. 2343,69.5500,NaN,S,NaN
4,4,0,3,"Cacic, Miss. Marija",female,30.0,0,0,315084,8.6625,NaN,S,NaN
5,5,0,1,"Taussig, Mr. Emil",male,52.0,1,1,110413,79.6500,E67,S,"New York, NY"
6,6,0,3,"Flynn, Mr. John",male,NaN,0,0,368323,6.9500,NaN,Q,NaN
7,7,1,1,"Taylor, Mrs. Elmer Zebley (Juliet Cummins Wright)",female,NaN,1,0,19996,52.0000,C126,S,"London / East Orange, NJ"
8,8,0,2,"Berriman, Mr. William John",male,23.0,0,0,28425,13.0000,NaN,S,"St Ives, Cornwall / Calumet, MI"
9,9,0,2,"Abelson, Mr. Samuel",male,30.0,1,0,P/PP 3381,24.0000,NaN,C,"Russia New York, NY"

In [321]:
df=df.set_index('ID')

In [322]:
def add_sex(data):
    if data['sex'] == 'male':
        data['sex'] = 1
    else:
        data['sex'] = 0
    return data

In [323]:
df = df.apply(lambda row: add_sex(row), axis=1)

In [324]:
def add_status(data):
    arr = []
    arr = data.name.apply(lambda i: i.split(',')[1].split('.')[0])
    list = {}
    pop = 0
    for i in set(arr):
        list[i]= pop
        pop += 1
    data['status'] = data.name.apply(lambda i: list[i.split(',')[1].split('.')[0]])
    return data

df = add_status(df)

In [325]:
def drop_s(data):
    return data.drop(['name','home.dest'], axis='columns', inplace=True)

drop_s(df)

In [326]:
import numpy as np
def add_embarked(data):
    data_up = data.fillna(-1)
    arr = []
    arr = data_up.embarked.apply(lambda i: i)
    list = {}
    pop = 0
    for i in set(arr):
        if i!=-1:
            list[i] = pop
            pop += 1
        else:
            list[np.nan] = -1
    data['embarked'] = data.embarked.apply(lambda i: list[i])
    return data
df = add_embarked(df)

In [327]:

def assign_age(row,list):
    data = None
    if np.isnan(row['age']):
        row['age'] = list[row['status']][row['pclass']]
    return row


def add_age(data):
    list = {}
    status = data['status'].drop_duplicates()
    pclass = data['pclass'].drop_duplicates().to_list()
    for i in status.to_list():
        super_list = {}
        for j in pclass:
            mean_age = data['age'].where(data['status']==i).where(data['pclass']==j).mean()
            if np.isnan(mean_age):
                mean_age = data['age'].where(data['pclass']==j).mean()
            super_list[j] = mean_age
        list[i] = super_list
    data = data.apply(lambda row: assign_age(row,list), axis=1)
    return data
        
            
df = add_age(df)

In [328]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.linear_model import LinearRegression
import math

In [329]:
def add_fare(data):
    data['fare'] = data['fare'].fillna(data['fare'].mean())
    return data

In [330]:
def add_cabin(data):
    data['cabin'] = data['cabin'][data['cabin'].notnull()].apply(lambda cabin:cabin[0])
    data['cabin'] = data['cabin'].fillna('NAN')
    pop = pd.get_dummies(data['cabin'])
    data = pd.concat([data,pop],axis=1)
    return data
df=add_cabin(df)

In [331]:
def drop_last(data):
    data=data.drop('cabin',axis=1)
    data=data.drop('ticket',axis=1)
    return data
df = drop_last(df)

In [332]:

print(df.isnull().sum())

survived    0
pclass      0
sex         0
age         0
sibsp       0
parch       0
fare        0
embarked    0
status      0
A           0
B           0
C           0
D           0
E           0
F           0
G           0
NAN         0
dtype: int64

In [333]:
df['T'] = 0
#daty jsou pripraveny

In [334]:
def get_X_Y_data(data):
    X = data.drop(columns=['survived'])
    Y = data['survived']
    return X, Y

In [335]:
from sklearn.preprocessing import MinMaxScaler
def MinMaxSc(Xtrain, Xval):
    MinMax = MinMaxScaler()
    MinMax.fit_transform(Xtrain)
    XXtrain = MinMax.transform(Xtrain)
    XXval = MinMax.transform(Xval)
    return XXtrain, XXval, MinMax

In [336]:
res = []

In [337]:
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
import sklearn

In [338]:
from sklearn.model_selection import KFold
def cross_validation(data, model_g, name):
    score = 0
    score_morm = 0
    best = []
    best_norm = []
    for train, val in KFold(5, True,42).split(data):
        model = sklearn.base.clone(model_g)
        x_train, y_train = get_X_Y_data(data[data.index.isin(train)])
        x_val, y_val = get_X_Y_data(data[data.index.isin(val)])
        model.fit(x_train, y_train)
        sk = model.score(x_val, y_val)
        best.append([model, sk])
        if score < sk:
            score = sk 
        x_train_norm, Y_train_norm, MinMax = MinMaxSc(x_train, x_val)
        model_norm = sklearn.base.clone(model_g)
        model_norm.fit(x_train_norm, y_train)
        sk = model_norm.score(Y_train_norm, y_val)
        best_norm.append([model_norm, sk, MinMax])
        if score_morm < sk:
            score_morm = sk        
    sk = 0
    mod = model
    for i in range(0, len(best)):
        if sk < best[i][1]:
            sk = best[i][1]
            mod = best[i][0]
    sk = 0
    mod_norm = model
    norm = best_norm[0][2]
    for i in range(0, len(best_norm)):
        if sk < best_norm[i][1]:
            sk = best_norm[i][1]
            mod = best_norm[i][0]
            norm = best_norm[i][2]
    if score >  score_morm:
        return [mod, score,name]
    else:
        return [mod_norm, score_morm,name, norm]
    return

In [339]:
#zacneme

In [340]:
train, test = train_test_split(df, test_size=0.25, random_state=42)

In [341]:
#RandomForestClassifier
best = 0
best_of_the_best = [0,0]
for i in range(1, 142, 10):
    random_forest = RandomForestClassifier(n_estimators=i)
    arr = cross_validation(train, random_forest, 'RandomForestClassifier')
    if arr[1]>best_of_the_best[1]:
        best_of_the_best = arr
res.append(best_of_the_best)

/mnt/d/code/bi-vzd/du_2/myenv/lib/python3.6/site-packages/sklearn/utils/validation.py:70: FutureWarning: Pass shuffle=True, random_state=42 as keyword args. From version 0.25 passing these as positional arguments will result in an error
  FutureWarning)
/mnt/d/code/bi-vzd/du_2/myenv/lib/python3.6/site-packages/sklearn/utils/validation.py:70: FutureWarning: Pass shuffle=True, random_state=42 as keyword args. From version 0.25 passing these as positional arguments will result in an error
  FutureWarning)
/mnt/d/code/bi-vzd/du_2/myenv/lib/python3.6/site-packages/sklearn/utils/validation.py:70: FutureWarning: Pass shuffle=True, random_state=42 as keyword args. From version 0.25 passing these as positional arguments will result in an error
  FutureWarning)
/mnt/d/code/bi-vzd/du_2/myenv/lib/python3.6/site-packages/sklearn/utils/validation.py:70: FutureWarning: Pass shuffle=True, random_state=42 as keyword args. From version 0.25 passing these as positional arguments will result in an error
  FutureWarning)
/mnt/d/code/bi-vzd/du_2/myenv/lib/python3.6/site-packages/sklearn/utils/validation.py:70: FutureWarning: Pass shuffle=True, random_state=42 as keyword args. From version 0.25 passing these as positional arguments will result in an error
  FutureWarning)
/mnt/d/code/bi-vzd/du_2/myenv/lib/python3.6/site-packages/sklearn/utils/validation.py:70: FutureWarning: Pass shuffle=True, random_state=42 as keyword args. From version 0.25 passing these as positional arguments will result in an error
  FutureWarning)
/mnt/d/code/bi-vzd/du_2/myenv/lib/python3.6/site-packages/sklearn/utils/validation.py:70: FutureWarning: Pass shuffle=True, random_state=42 as keyword args. From version 0.25 passing these as positional arguments will result in an error
  FutureWarning)
/mnt/d/code/bi-vzd/du_2/myenv/lib/python3.6/site-packages/sklearn/utils/validation.py:70: FutureWarning: Pass shuffle=True, random_state=42 as keyword args. From version 0.25 passing these as positional arguments will result in an error
  FutureWarning)
/mnt/d/code/bi-vzd/du_2/myenv/lib/python3.6/site-packages/sklearn/utils/validation.py:70: FutureWarning: Pass shuffle=True, random_state=42 as keyword args. From version 0.25 passing these as positional arguments will result in an error
  FutureWarning)
/mnt/d/code/bi-vzd/du_2/myenv/lib/python3.6/site-packages/sklearn/utils/validation.py:70: FutureWarning: Pass shuffle=True, random_state=42 as keyword args. From version 0.25 passing these as positional arguments will result in an error
  FutureWarning)
/mnt/d/code/bi-vzd/du_2/myenv/lib/python3.6/site-packages/sklearn/utils/validation.py:70: FutureWarning: Pass shuffle=True, random_state=42 as keyword args. From version 0.25 passing these as positional arguments will result in an error
  FutureWarning)
/mnt/d/code/bi-vzd/du_2/myenv/lib/python3.6/site-packages/sklearn/utils/validation.py:70: FutureWarning: Pass shuffle=True, random_state=42 as keyword args. From version 0.25 passing these as positional arguments will result in an error
  FutureWarning)
/mnt/d/code/bi-vzd/du_2/myenv/lib/python3.6/site-packages/sklearn/utils/validation.py:70: FutureWarning: Pass shuffle=True, random_state=42 as keyword args. From version 0.25 passing these as positional arguments will result in an error
  FutureWarning)
/mnt/d/code/bi-vzd/du_2/myenv/lib/python3.6/site-packages/sklearn/utils/validation.py:70: FutureWarning: Pass shuffle=True, random_state=42 as keyword args. From version 0.25 passing these as positional arguments will result in an error
  FutureWarning)
/mnt/d/code/bi-vzd/du_2/myenv/lib/python3.6/site-packages/sklearn/utils/validation.py:70: FutureWarning: Pass shuffle=True, random_state=42 as keyword args. From version 0.25 passing these as positional arguments will result in an error
  FutureWarning)

In [342]:
#LogisticRegression
logreg = LogisticRegression()
res.append(cross_validation(train, logreg, 'LogisticRegression'))

/mnt/d/code/bi-vzd/du_2/myenv/lib/python3.6/site-packages/sklearn/utils/validation.py:70: FutureWarning: Pass shuffle=True, random_state=42 as keyword args. From version 0.25 passing these as positional arguments will result in an error
  FutureWarning)
/mnt/d/code/bi-vzd/du_2/myenv/lib/python3.6/site-packages/sklearn/linear_model/_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/mnt/d/code/bi-vzd/du_2/myenv/lib/python3.6/site-packages/sklearn/linear_model/_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/mnt/d/code/bi-vzd/du_2/myenv/lib/python3.6/site-packages/sklearn/linear_model/_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/mnt/d/code/bi-vzd/du_2/myenv/lib/python3.6/site-packages/sklearn/linear_model/_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/mnt/d/code/bi-vzd/du_2/myenv/lib/python3.6/site-packages/sklearn/linear_model/_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [343]:
#KNeighborsClassifier
best = 0
best_of_the_best = [0,0]
for i in range(1, 11):
    knn = KNeighborsClassifier(n_neighbors = i) 
    arr = cross_validation(train, knn, 'KNeighborsClassifier')
    if arr[1]>best_of_the_best[1]:
        best_of_the_best = arr
res.append(best_of_the_best)

/mnt/d/code/bi-vzd/du_2/myenv/lib/python3.6/site-packages/sklearn/utils/validation.py:70: FutureWarning: Pass shuffle=True, random_state=42 as keyword args. From version 0.25 passing these as positional arguments will result in an error
  FutureWarning)
/mnt/d/code/bi-vzd/du_2/myenv/lib/python3.6/site-packages/sklearn/utils/validation.py:70: FutureWarning: Pass shuffle=True, random_state=42 as keyword args. From version 0.25 passing these as positional arguments will result in an error
  FutureWarning)
/mnt/d/code/bi-vzd/du_2/myenv/lib/python3.6/site-packages/sklearn/utils/validation.py:70: FutureWarning: Pass shuffle=True, random_state=42 as keyword args. From version 0.25 passing these as positional arguments will result in an error
  FutureWarning)
/mnt/d/code/bi-vzd/du_2/myenv/lib/python3.6/site-packages/sklearn/utils/validation.py:70: FutureWarning: Pass shuffle=True, random_state=42 as keyword args. From version 0.25 passing these as positional arguments will result in an error
  FutureWarning)
/mnt/d/code/bi-vzd/du_2/myenv/lib/python3.6/site-packages/sklearn/utils/validation.py:70: FutureWarning: Pass shuffle=True, random_state=42 as keyword args. From version 0.25 passing these as positional arguments will result in an error
  FutureWarning)
/mnt/d/code/bi-vzd/du_2/myenv/lib/python3.6/site-packages/sklearn/utils/validation.py:70: FutureWarning: Pass shuffle=True, random_state=42 as keyword args. From version 0.25 passing these as positional arguments will result in an error
  FutureWarning)
/mnt/d/code/bi-vzd/du_2/myenv/lib/python3.6/site-packages/sklearn/utils/validation.py:70: FutureWarning: Pass shuffle=True, random_state=42 as keyword args. From version 0.25 passing these as positional arguments will result in an error
  FutureWarning)
/mnt/d/code/bi-vzd/du_2/myenv/lib/python3.6/site-packages/sklearn/utils/validation.py:70: FutureWarning: Pass shuffle=True, random_state=42 as keyword args. From version 0.25 passing these as positional arguments will result in an error
  FutureWarning)
/mnt/d/code/bi-vzd/du_2/myenv/lib/python3.6/site-packages/sklearn/utils/validation.py:70: FutureWarning: Pass shuffle=True, random_state=42 as keyword args. From version 0.25 passing these as positional arguments will result in an error
  FutureWarning)
/mnt/d/code/bi-vzd/du_2/myenv/lib/python3.6/site-packages/sklearn/utils/validation.py:70: FutureWarning: Pass shuffle=True, random_state=42 as keyword args. From version 0.25 passing these as positional arguments will result in an error
  FutureWarning)

In [344]:
#GaussianNB
gaussian = GaussianNB() 
res.append(cross_validation(train, gaussian, 'GaussianNB'))

/mnt/d/code/bi-vzd/du_2/myenv/lib/python3.6/site-packages/sklearn/utils/validation.py:70: FutureWarning: Pass shuffle=True, random_state=42 as keyword args. From version 0.25 passing these as positional arguments will result in an error
  FutureWarning)

In [345]:
#DecisionTreeClassifier
decision_tree = DecisionTreeClassifier()
res.append(cross_validation(train, decision_tree, 'DecisionTreeClassifier'))

/mnt/d/code/bi-vzd/du_2/myenv/lib/python3.6/site-packages/sklearn/utils/validation.py:70: FutureWarning: Pass shuffle=True, random_state=42 as keyword args. From version 0.25 passing these as positional arguments will result in an error
  FutureWarning)

In [346]:
#AdaBoostClassifier
ada_boost = AdaBoostClassifier()
res.append(cross_validation(train, ada_boost, 'AdaBoostClassifier'))

/mnt/d/code/bi-vzd/du_2/myenv/lib/python3.6/site-packages/sklearn/utils/validation.py:70: FutureWarning: Pass shuffle=True, random_state=42 as keyword args. From version 0.25 passing these as positional arguments will result in an error
  FutureWarning)

In [347]:
for i in res:
    print(i[1], i[2])

0.8521739130434782 RandomForestClassifier
0.8260869565217391 LogisticRegression
0.8347826086956521 KNeighborsClassifier
0.7913043478260869 GaussianNB
0.7913043478260869 DecisionTreeClassifier
0.8347826086956521 AdaBoostClassifier

In [348]:
#KNeighborsClassifier je nejlepsi model

In [349]:
ans = res[0]
ans

[RandomForestClassifier(n_estimators=51),
 0.8521739130434782,
 'RandomForestClassifier',
 MinMaxScaler()]

In [350]:
evaluat = pd.read_csv('evaluation.csv')

In [351]:
evaluat=evaluat.set_index('ID')
evaluat = evaluat.apply(lambda row: add_sex(row), axis=1)
evaluat = add_status(evaluat)
drop_s(evaluat)
evaluat = add_embarked(evaluat)
evaluat = add_age(evaluat)
evaluat=add_cabin(evaluat)
evaluat = drop_last(evaluat)
add_fare(evaluat)

,pclass,sex,age,sibsp,parch,fare,embarked,status,A,B,C,D,E,F,G,NAN,T
ID,,,,,,,,,,,,,,,,,
1000,2,0,24.0,2,1,27.0000,2,3,0,0,0,0,0,0,0,1,0
1001,2,0,25.0,1,1,30.0000,2,9,0,0,0,0,0,0,0,1,0
1002,2,1,38.0,1,0,21.0000,2,7,0,0,0,0,0,0,0,1,0
1003,3,0,19.0,1,0,16.1000,2,3,0,0,0,0,0,0,0,1,0
1004,2,0,60.0,1,0,26.0000,2,3,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,0,18.5,0,0,7.2833,1,9,0,0,0,0,0,0,0,1,0
1305,3,1,32.0,0,0,56.4958,2,7,0,0,0,0,0,0,0,1,0
1306,3,1,22.5,0,0,7.2250,0,7,0,0,0,0,0,0,0,1,0
1307,1,0,45.0,1,1,164.8667,2,3,0,0,0,0,0,0,0,1,0
1308,2,1,35.0,0,0,26.0000,2,7,0,0,0,0,0,0,0,1,0

In [352]:
evaluat.isnull().sum()

pclass      0
sex         0
age         0
sibsp       0
parch       0
fare        0
embarked    0
status      0
A           0
B           0
C           0
D           0
E           0
F           0
G           0
NAN         0
T           0
dtype: int64

In [353]:
evaluat_norm = ans[3].transform(evaluat)
res_all = ans[0].predict(evaluat_norm)
end = pd.DataFrame({'ID':evaluat.index, 'survived':res_all})
end

       ID  survived
0    1000         1
1    1001         1
2    1002         0
3    1003         1
4    1004         1
..    ...       ...
304  1304         1
305  1305         0
306  1306         0
307  1307         1
308  1308         0

[309 rows x 2 columns]

In [354]:
end.to_csv('result.csv', index = False)